<div class="container">
  <h1>NFTy</h1>
  <h2>Welcome to your own personal NFT gallery and community</h2>
  <p>
    Intro to NFTs
    </br>
    Checkout our homepage featured projects or log-in and get NFTy!
    </br>
    Search for your favorite NFTs
    </br>
    Upload your favorite NFTs to your gallery in the dashboard
    </br>
    Connect your wallet address and see your own NFTs SHINE!</br>
    </p>
</div>