<div class="loginpage">
  <div style="width:900px; margin:0 auto; text-align: center">
<div class="container">
<h2>Welcome to your own personal NFT gallery and community</h2>
  <p><br>
   <u><b>Intro to NFTs</u></b><br>
      I have questions about this emerging... um... art form? Platform?<br><br>

<img src="https://cdn.vox-cdn.com/thumbor/lNzj-fSbiYqJOBWvjtQbby6Kajw=/0x0:1252x974/1720x0/filters:focal(0x0:1252x974):format(webp):no_upscale()/cdn.vox-cdn.com/uploads/chorus_asset/file/22341171/Screen_Shot_2021_03_02_at_3.21.50_PM.png" alt="nft" width="250" height="166">
<br><br>
<b> WHAT IS AN NFT? WHAT DOES NFT STAND FOR? </b>
<br>Non-fungible token.<br><br>
<i><b>That doesn’t make it any clearer.</i></b>
<br>
Right, sorry. “Non-fungible” more or less means that it’s unique and can’t be replaced with something else. For example, a bitcoin is fungible — trade one for another bitcoin, and you’ll have exactly the same thing. A one-of-a-kind trading card, however, is non-fungible. If you traded it for a different card, you’d have something completely different.
<br><br>
<b>How do NFTs work?</b><br>
At a very high level, most NFTs are part of the Ethereum blockchain. Ethereum is a cryptocurrency, like bitcoin or dogecoin, but its blockchain also supports these NFTs, which store extra information that makes them work differently from, say, an ETH coin. It is worth noting that other blockchains can implement their own versions of NFTs. (Some already have.)
<br><br>
<b>What’s worth picking up at the NFT supermarket?</b><br>

NFTs can really be anything digital (such as drawings, music, your brain downloaded and turned into an AI), but a lot of the current excitement is around using the tech to sell digital art.
<br><br>
<b>What’s the point of NFTs?</b><br>


One of the obvious benefits of buying art is it lets you financially support artists you like, and that’s true with NFTs (which are way trendier than, like, Telegram stickers). Buying an NFT also usually gets you some basic usage rights, like being able to post the image online or set it as your profile picture. Plus, of course, there are bragging rights that you own the art, with a blockchain entry to back it up.

<br><br><b><u>Ok, got it! What else can I do on NFT-y?</u></b>
<br>

    </br>
    -Checkout our homepage featured projects or log-in and get NFTy!
    </br>
    -Search for your favorite NFTs
    </br>
    -Upload your favorite NFTs to your gallery in the dashboard
    </br>
    -Connect your wallet address and see your own NFTs SHINE!</br>
    </p>
</div>

</div>