<div class="container">
  <h1>Title: NiFTy</h1>
  <h2>Content:</h2>
  <p>
Intro to NFTs 
About page/description 
Search for your favorite NFTs
Popular page 
Categories page to filter for specific NFT project/group
Upload your favorite NFTs to your gallery 
Like NFT’s and have them display in your dashboard
</p>

<h2>Databases:</h2>
<p>
https://niftykit.com/developer-api/ ? Uses the RESTful API
https://docs.timescale.com/timescaledb/latest/tutorials/analyze-nft-data/nft-schema-ingestion/#tables-and-field-descriptions 
https://docs.opensea.io/reference/api-overview  
</p>
</div>