<div class="container">
  <div class="nft-row">
    {{#each NFTcollection as |item|}}
      <div class="nft-div associated-item-{{item.id}}">
        {{>NFTitem item}}
          <button class='add-favorite associated-div-{{item.id}}'>Favorite</button>
      </div>
    {{/each}}
  </div>
</div>
<script src="/javascript/favorite.js"></script>