 <div id="dashboard-header">
    <h2 class="card card-header container" id="your-nfts-header">Your NFTS</h2>
    {{#if nft_faves[0].user.wallet}}
    <p id="user-wallet-address" class="hidden">0x8a08e3Ce6CED24d376a13C544E45d4DDa02FaFEA</p>
    <!-- replace with nft_faves[0].user.wallet -->
    <div id="user-nfts"></div>
    {{else}}
    <div class="card card-header container" id="no-wallet-header"></div>
    {{/if}}
  </div>
  {{#if nft_faves.length}}
<section>
  <div class="nft-row">
    {{#each nft_faves as |item|}}
    <div class="nft-div associated-item-{{item.id}}">
      <p id="nft-id" class="hidden">{{item.id}}</p>
      {{> NFTitem item}}
        <button id="remove-favorite" class="btn">Remove</button>
    </div>
    {{/each}}
    </div>
</section>
{{/if}}
<script src="/javascript/removefavorite.js"></script>
<script src="/javascript/user-nfts.js"></script>