 <div id="dashboard-header">
    <h2 class="card card-header container" id="your-nfts-header">Your NFTS</h2>
    <p id="user-wallet-address" data-walletaddress={{user_wallet}} class='d-hidden'></p>
    <div id="user-nfts"></div>
    <div class="card card-header container" id="no-wallet-header"></div>
  </div>
  {{#if nft_faves.length}}
<section>
  <div class="nft-row">
    {{#each nft_faves as |item|}}
    <div class="nft-div">
      {{> NFTitem item}}
        <button class="remove-favorite btn" data-id={{item.id}}>Remove</button>
    </div>
    {{/each}}
    </div>
</section>
{{/if}}
<script src="/javascript/removefavorite.js"></script>
<script src="/javascript/user-nfts.js"></script>