<div class="container">
  {{#each popularNFTs as |collection|}}
    <div class="row">
        <div class="col-md-12">
            <h1>{{collection.name}}</h1>
            <a href="/nft/collection/{{collection.name}}">
              <img src="{{collection.image}}" width="25%" alt="nft collection cover"/>
            </a>
            <p>{{collection.address}}</p>
        </div>
    </div>
    {{/each}}
</div>