<div class='container'>
   <div class='row'>
  {{#each popularNFTs as |collection|}}
      <div class='col-sm-4'>
        {{collection.name}}
        <br>
        <a href='/nft/collection/{{collection.name}}'>
          <img
            src='{{collection.image}}'
            width='50%',
            alt='nft collection cover'
          />
        </a>
        <p>{{collection.address}}</p>
      </div>
  {{/each}}
  </div>
</div>