<div class="loginpage">
  <div style="width:900px; margin:0 auto; text-align: center; display: flex;  
  flex-wrap: wrap;">

<div class="container">
  <form type="submit" class="search-form">
    <label for="search">Search for an NFT</label>
    <input class="search-bar" type="text" name="search"></input>
    <button type="button" class="search-btn">Search</button>
  </form>
</div>
<div class="container">
  <div class=" row images-row"></div>
</div>
</div>
<script src='/javascript/search.js'></script>
