<div class="loginpage">
  <div style="width:300px; margin:0 auto; text-align: center; display: flex;  
  flex-wrap: wrap;">

<div class="container">
   <div class="row">
  <form type="submit" class="search-form">
    <label for="search">Search for an NFT</label>
    <input class="search-bar" type="text" name="search"></input>
    <button type="button" class="search-btn">Search</button>
  </form>
  </div>
</div>
<div class="images-container">
</div></div>
<script src='/javascript/search.js'></script>